/*~~~~~~ GOOGLE FONTS~~~~~~ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Rubik:wght@300..900&display=swap");

/*~~~~~~ROOTS~~~~~~ */
:root {
  /*~~~~~~  COLORS ~~~~~~ */
  --primary-clr: /* #ff6b6b */ #f95738;
  --secondary-clr:/*  #794afa */ #3e92cc;
  --secondary-dark-clr:/*  #453c5c */ #3c6b8d;

  --white-clr: #fff;
  --light-bg: #e7e4f1;
  --light-text-clr: #7c899a;
  --border-clr: #d0d4da;
  --dark-clr: #0a021c;
  --percent100: 100%;
  --percent50: 50%;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

/* LOADER GIF */
.loader {
  position: fixed;
  top: var(--percent50);
  left: var(--percent50);
  transform: translate(-50%, -50%);
  width: 100px;
  z-index: 5;
  display: none;
}

.form-section {
  width: var(--percent100);
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white-clr);
}

.form-container {
  width: 60%;
  min-width: 300px;
  height: 80vh;
  background: var(--white-clr);
  overflow: hidden;
  z-index: 2;
  display: flex;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
}

.form-img {
  width: 70%;
  overflow: hidden;
  height: var(--percent100);
  position: relative;
}

.form {
  width: 100%;
  padding: 1.25rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-heading {
  font-size: 1.875rem;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}

input {
  width: var(--percent100);
  height: 2.5rem;
  border: 1px solid var(--border-clr);
  margin: 5px 0;
  padding: 10px;
  line-height: 2.5rem;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: 5px;
  background: var(--light-bg);
}

::placeholder {
  color: #b9b9b9;
  text-transform: capitalize;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  border: 2px solid var(--secondary-dark-clr);
}

input::placeholder {
  color: var(--secondary-dark-clr);
}

/* ERROR MESSAGE */
.error {
  display: block;
  font-size: 0.8rem;
  color: rgb(255, 41, 41);
  text-transform: capitalize;
  margin: 5px 0;
  user-select: none;
  opacity: 0;
}

.error.show {
  opacity: 1;
}

/* TERMS AND CONDTION */

#tc {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  padding: 0;
  border: 1px solid var(--light-text-clr);
  cursor: pointer;
  position: relative;
  margin-top: 10px;
  margin-bottom: 0;
  border-radius: 50%;
}

#tc:checked {
  background: var(--secondary-dark-clr);
}

#tc::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../img/banner/checkedd.png");
  background-size: contain;
  display: none;
}

#tc:checked::before {
  display: block;
}

.tc-text {
  margin-left: 5px;
  font-size: 0.8rem;
}

.tc-text a {
  text-decoration: none;
  color: var(--dark-clr);
}

.tc-text a:hover {
  text-decoration: underline;
}

/* SUBMIT BTN */

.submit-btn {
  letter-spacing: 2px;
  display: block;
  width: 100px;
  margin: 1.25rem 0;
  padding: 0.8rem 0;
  background: var(--secondary-dark-clr);
  color: var(--light-bg);
  border: none;
  cursor: pointer;
  border-radius: 0;
  outline: none;
  text-transform: capitalize;
  font-size: 1rem;
  position: relative;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.submit-btn:active {
  transform: scale(0.96);
}

.submit-btn:before,
.submit-btn:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}
.submit-btn.animate::before {
  top: -70%;
  background-image: radial-gradient(circle, #3c6b8d 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #3c6b8d 20%, transparent 30%),
    radial-gradient(circle, #3c6b8d 20%, transparent 20%),
    radial-gradient(circle, #3c6b8d 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #3c6b8d 15%, transparent 20%),
    radial-gradient(circle, #3c6b8d 20%, transparent 20%),
    radial-gradient(circle, #3c6b8d 20%, transparent 20%),
    radial-gradient(circle, #3c6b8d 20%, transparent 20%),
    radial-gradient(circle, #3c6b8d 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  animation: greentopBubbles ease-in-out 0.6s forwards infinite;
}
@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.button.animate::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #3c6b8d 20%, transparent 20%),
    radial-gradient(circle, #3c6b8d 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #3c6b8d 15%, transparent 20%),
    radial-gradient(circle, #3c6b8d 20%, transparent 20%),
    radial-gradient(circle, #3c6b8d 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  animation: greenbottomBubbles ease-in-out 0.6s forwards infinite;
}
@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.submit-btn:hover {
  background: #29526e;
  color: var(--light-bg);
}

@media screen and (max-width: 768px) {
  .form-section .form-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.6;
    left: 0;
  }

  .form-section .form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    z-index: 1;
  }

  .form-heading {
    font-size: 23px;
    margin-bottom: 1.25rem;
  }

  input {
    width: 120%;
    height: 2rem;

    margin: 5px 0;
    padding: 10px;
  }
  .tc-text {
    font-size: 10px;
  }

  #tc {
    position: relative;
    top: 5px;
  }

  .other-form-link {
    font-size: 12px;
  }

  .loader {
    position: relative;
    top: 30px;
    left: 20px;
    width: 50px;
  }
}
